* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  text-align: center;
  max-width: 300px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 0.5rem;

  margin: 3rem auto;
  padding: 1.5rem 2rem;
}
.card1 {
  border-color: rgba(255, 0, 0, 0.521);
}
.card2 {
  border-color: rgba(187, 0, 255, 0.89);
}
body {
  background: #dfc8c8;
}

.card h1 {
  margin: 30px;
}
.card p {
  margin-bottom: 10px;
  font-weight: 400;
  color: rgb(213, 174, 174);
}

.btn1 {
  padding: 5px 10px;
  border-radius: 5px;
  border-style: none;
  color: rgb(255, 0, 144);
  background-color: rgba(255, 0, 140, 0.155);
  font-weight: bold;
}
.btn2 {
  padding: 5px 10px;
  border-radius: 5px;
  border-style: none;
  color: rgb(0, 4, 255);
  background-color: rgba(43, 0, 255, 0.155);
  font-weight: bold;
}

.btn2:hover {
  background-color: rgba(0, 255, 255, 0.573);
  color: rgba(255, 255, 255, 0.594);
}
.btn1:hover {
  background-color: rgba(0, 255, 76, 0.573);
  color: rgba(255, 255, 255, 0.559);
}
.icon1 {
  width: 40px;
  height: 40px;
  background-color: rgba(165, 42, 99, 0.795);
  border-radius: 50%;
  margin: 0 auto;
}
.icon2 {
  width: 40px;
  height: 40px;
  background-color: rgba(73, 42, 165, 0.795);
  border-radius: 50%;
  margin: 0 auto;
}
